<!DOCTYPE html>
<html lang='en'>
  <head>
   <meta name="viewport" content="width=device-width" />
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Nepal Loadshedding Schedule</title>
   <meta name="description" content="View the latest load-shedding schedule for Nepal.">
   <meta property="og:title" content="Nepal Loadshedding Schedule"/>
   <meta property="og:url" content="http://adhyaro.appspot.com"/>
   <meta property="og:site_name" content="Nepal Loadshedding Schedule"/>
   <meta property="og:type" content="website"/>
   <link rel="stylesheet" type="text/css" href="assets/print.css" media="print" />
   <link rel="stylesheet" type="text/css" href="assets/base.css" media="screen"/>
  </head>
  {% autoescape off %}
  <body>
        <h1 class="center"> Nepal Loadshedding Schedule</h1>
	<table class="center">
		<thead>
			<tr>
				<th>Day /<br>Group</th>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</tr>
		</thead>
		<tbody>
		{%  for item in entries %}
		   <tr>
			<th class="group">
			   <b> {{forloop.counter}}</b>
			</th>
			<td {% if day == 'Sunday' %} class="today"{% endif %}>
				{{item.Sunday}}
			</td>
			<td {% if day == 'Monday' %} class="today"{% endif %}>
				{{item.Monday}}
			</td>
			<td {% if day == 'Tuesday' %} class="today"{% endif %}>
				{{item.Tuesday}}
			</td>
			<td {% if day == 'Wednesday' %} class="today"{% endif %}>
				{{item.Wednesda}}
			</td>
			<td {% if day == 'Thursday' %} class="today"{% endif %}>
				{{item.Thursday}}
			</td>
			<td {% if day == 'Friday' %} class="today"{% endif %}>
				{{item.Friday}}
			</td>
			<td {% if day == 'Saturday' %} class="today"{% endif %}>
				{{item.Saturday}}
			</td>
		   </tr>
		{% endfor %}
		</tbody>
	</table>
	<footer class="center">
		<span class="shade">Effective from {{ effective_from }}</span> |
		<span class="shade"><a href="https://bitbucket.org/xtranophilist/nepal-loadsheding-schedule" target="_blank">Source Code</a></span> |
		<span class="shade">Hosted by <a href="http://appengine.google.com/" target="_blank">Google App Engine</a></span>

	</footer>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36726396-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
  {% endautoescape %}
</html>
