.today{
    background-color:#888888;
    color:white;
}
.center{
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}
footer{
    margin-top:10%;
}
.shade{
background-color:#EEEEEE;
padding:4px;
}
table{
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    border-radius: 4px 4px 4px 4px;
    width:100%;
}
td, th{
    border: 1px solid #CCCCCC;
    padding: 3px;
}
th {
    background: none repeat scroll 0 0 #333333;
    color: white;
    font-weight: bold;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }


    td:nth-of-type(1):before { content: "Sunday"; }
    td:nth-of-type(2):before { content: "Monday"; }
    td:nth-of-type(3):before { content: "Tuesday"; }
    td:nth-of-type(4):before { content: "Wednesday"; }
    td:nth-of-type(5):before { content: "Thursday"; }
    td:nth-of-type(6):before { content: "Friday"; }
    td:nth-of-type(7):before { content: "Saturday";} 

    .group:before { content: "Group" }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { 
        padding: 0; 
        margin: 0; 
    }
}

