.center{
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}
table{
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    border-radius: 4px 4px 4px 4px;
    width:100%;
}
td, th{
    border: 1px solid #CCCCCC;
    padding: 3px;
}
th {
    background: none repeat scroll 0 0 #333333;
    color: white;
    font-weight: bold;
}
footer{
display:none;
}
@page{
      size: landscape;
      margin-left:0.0cm;
      margin-right:0.0cm;
}
